@charset "UTF-8";
/* importação de font */ 
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Variavel */
:root {

    --azul: rgba(11, 97, 172, 0.87);
    --cinza: #5c5c5c;
    --branco: rgb(212, 212, 212);
    --branco2: #E6EAEB;
}


/* CSS Reset - não levando o chome como referencia. */
* {
    margin:0;
    padding:0;
    border:0;
}


body {
    font-family: "Noto Sans", sans-serif;
    font-size: 1em; /* Tamanho defalt*/
}
h1 {
    font-size: 0px;
}

/* Centraliza o bloco */
.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

    body {
        background-color: rgb(92, 92, 92)
    }

    .botao {
        text-decoration: none;
        color: var(--branco);
        background-color: var(--azul);
        width: 100px;
        padding: 9px 0px;
        border: 2px solid var(--branco2);
        border-radius: 20px;
        align-self: center;
        margin-top: 5px;
    }
    /* BRASKPOINTS */
/* smartphone Portrait -------------------------------------- */
    @media (min-width: 0px){
    
   /* Cabeçalho */
    #logo img {
        width: 110px;
        height: 106px;
        margin-top: 6px;
        margin-left: 10px;
    }
    #nome img {
        width: 180px;
        margin-top: 22px;
        margin-right: 70px;
    }

    nav label img {
        height: 65px
    }

 /* Cabeçalho */
    header {
        height: 76px;
        background-color:  rgba(11, 97, 172, 0.87); 
    }
        /* Banner */
        main {
            height: 55vh;
            background: url(img/banner.jpeg);
            background-size: cover;
            background-position: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        main h2 {
            color: #E6EAEB;
            text-shadow: rgba(0, 0, 0, 0.603) 0.15em 0.1em 0.1em; 
            height: 38px;
            font-size: 140%;
            margin-top: 210px;
            /* background: #0c0c0c85; */
            height: 35px;
            width: 320px;
            align-self: center;
        }
        main .botao {
            margin-top: 10px;
        }

    /* Menu */
    #check {
        display:none;
    }
    /* Efeito de deslizar o menu 
    Se o check estiver checked - Criar um estilo para ul */
    #check:checked~ul {
        right: 0%;
    }

    label {
        height: 3rem;
        position: fixed;
        top: 10px;
        right: 10px;
    }

    /* 100 vh -- 100% da altura de tela */
    nav ul {
        height: 100vh;
        background-color: rgba(36, 35, 35, 0.726);
        list-style: none;  /* Remove as bolinhas */
        width: 60%;
        top: 75px;
        right: -65%;
        position: fixed;
        transition: all 0.7s;
    }

    nav ul li{
        color: rgb(212, 212, 212);
        font-size: 20px;
        padding: 8px 15px;
        border-bottom: 1px solid var(--branco);
        text-align: right;
    }

    nav ul li a {
        color: var(--branco);
        /* Remover sublinhado */
        text-decoration: none; 
    }

#destaque {
    background: url(img/gatoroboto_celular.png);
    background-size: cover;
    padding: 210px 25px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
#textodestaque {
    color: rgb(22, 22, 22);
    position: absolute;
    bottom: 30px;
    left: 25px;
    right: 25px;
    font-size: 15px;
}
#textodestaque h2 {
    margin-bottom: 10px;
}

/* O sinal > é referente ao elemento imadiato */

#textodestaque>p {
    margin-bottom: 6px;
}
.topicos {
    display: flex;
    align-items: center;
}

    .topicos img {
        margin-right: 7px ;
    }
/* organizando o container apos o destaque, o destino é aplicado apenas ao container da seção de destaque */
#destaque .container{
    flex-direction: column;
    align-items: center;
}
#textodestaque {
    color: #eeeeee;
    text-shadow: rgba(0, 0, 0, 0.603) 0.15em 0.1em 0.1em;
}
/* #imagemdestaque img {
    width: 200px;
    height: 200px;
    // arredondar imagens 
    border-radios: 50%
}
} */

#sobre {
    background-image: url(img/fundo_steam.jpg);
    background-size: cover;
    background-position: 0px;
    background-attachment: fixed;
    color: #eeeeee;
    padding: 30px;
}
#sobre h2 {
    margin-left: 3%;
    margin-bottom: 10px;
    text-shadow: rgba(0, 0, 0, 0.603) 0.15em 0.2em 0.2em;
}
#sobre p {
    margin-left: 3%;
    margin-right: 5%;
    text-shadow: rgba(0, 0, 0, 0.603) 0.15em 0.15em 0.15em;
}
#video iframe {
    margin-top: 5%;
    width: 280px;
    height: 157.5px;
}

header {
    position: relative;
    z-index: 10; /* Garante que o cabeçalho fique acima do destaque */
}

#destaque {
    position: relative;
    z-index: 1; /* Mantém o destaque abaixo do cabeçalho */
}
#faixaDestaque {
    height: 13rem;
    background-color: #181818;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
}
/* smartphone Landscape -------------------------------------- */
@media (min-width: 576px){
/* Cabeçalho */
    #logo img {
        margin: 10px 0px 0px 0px;
    }
    .container {
        max-width: 540px;
    }
    nav ul {
        width: 45%;
    }
    main {
        height: 80vh;
        background-size: cover;
        background-position: 42%;
    }
    main h2 {
        height: 38px;
        font-size: 140%;
        margin-top: 170px;
    }
    main .botao {
        margin-top: 5px;
    }

#destaque {
    background: url(img/gatoroboto.png);
    background-size: cover;
    padding: 120px 15px;
}
#textodestaque {
    color: #eeeeee;
    margin-left: 300px;
    bottom: 24px;
    font-size: 15px;
    text-shadow: rgba(0, 0, 0, 0.603) 0.15em 0.1em 0.1em;
}
#video iframe {
    margin-top: 4%;
}
#sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
}
/* #destaque {
    background-attachment: fixed ;
} */

/* Tablet Portrait -------------------------------------- */
@media (min-width: 768px){
/* Cabeçalho */
    .container {
        max-width: 720px;
    }
    header{
        height: 100px;
    }
#logo img {
    width: 150px;
    height: 143px;
}
nav ul {
    top: 100px;
    width: 45%;
}
label {
    height: 4rem;
    position: fixed;
    top: 20px;
    right: 15px;
}
main h2 {
    font-size: 240%;
    margin-top: 440px;
    height: 58px;
    width: 620px;
}
main .botao {
    margin-top: 20px;
}
.botao {
    width: 180px;
    border-radius: 30px;
    font-size: 30px;
}
#nome img {
    width: 250px;
    margin-top: 22px;
    margin-right: 110px;
}
#destaque {
    padding: 150px 15px;
}
#textodestaque {
    margin-left: 370px;
    bottom: 60px;
    font-size: 17px;
}
#video iframe {
    margin-top: 4%;
    margin-right: 5%;
    width: 360px;
    height: 195px;
}
}

/* Tablet Landscape -------------------------------------- */
@media (min-width: 992px){
/* Cabeçalho */
    .container {
        max-width: 960px;
    }
    nav ul {
        top: 100px;
    }
    main h2 {
        margin-top: 370px;
    }
    main .botao {
        margin-top: 15px;
    }
    #nome img {
        width: 250px;
        margin-top: 22px;
        margin-right: 120px;
    }
    #destaque {
        background-size: cover;
        padding: 160px 15px;
    }
    #textodestaque {
        margin-left: 420px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    #sobre h2 {
        margin-left: 3%;
        margin-bottom: 10px;
    }
    #sobre p {
        margin-left: 3%;
        margin-right: 10%;
    }
}

/* Pc e Notebook -------------------------------------- */ 
@media (min-width: 1200px){
/* Cabeçalho */
    .container {
        max-width: 1140px;
    }
    #logo img {
        width: 180px;
        height: 173px;
    }
    nav ul li{
        color: rgb(240, 240, 240);
        font-size: 20px;
        padding: 34px 15px;
        border-bottom: 1px solid var(--branco);
        text-align: right;
    }
    #nome img {
        width: 270px;
        margin-top: 22px;
        margin-left: 330px;
    }
    .botao {
        font-size: 25px;
    }

    /* Transformação do menu */
    label{
        display: none;
    }
    nav ul {
        width: 100%;
        height: auto;
        position: static;
        /* Remover a cor do backgrond */
        background-color: transparent; 
    }
    nav ul li {
        float: left;
        border: 0;
    }
    
    nav ul li a:hover {
        color: #80caff
    }
    #destaque {
        background-size: cover;
        padding: 200px 15px;
    }
    #textodestaque {
        margin-left: 540px;
        bottom: 75px;
    }
    #textodestaque>p {
        margin-bottom: 10px;
    }
    #sobre h2 {
        margin-left: 10%;
        margin-bottom: 10px;
    }
    #sobre p {
        margin-left: 10%;
        margin-right: 5%;
    }
    #video iframe {
        margin-top: 1%;
        width: 477px;
        height: 270px;
        padding: 0px 60px 0px 50px;
    }
    #sobre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


}

/* Telas FullHD , 4K e Smart TV */
@media (min-width: 1400px){
   
    .container {
        max-width: 1360px;
    }
    
}